# QtCreator project files
CMakeLists.txt.user

# Idea files
.idea

# Cmake files
**/CMakeFiles
**/CMakeCache.txt
**/Makefile
*.cmake

# Vim cache
*.un~
*.swp

# Build
build
bin.unix64.gcc
bin.unix64.gcc.dbg
*.cbp

